<ngl-form-checkbox label="Required" style="display: inline-block;">
    <input nglFormControl type="checkbox" [(ngModel)]="required" />
</ngl-form-checkbox>
<ngl-form-checkbox label="Error" style="display: inline-block;">
    <input nglFormControl type="checkbox" [(ngModel)]="hasError" />
</ngl-form-checkbox>

<ngl-form-element label="输入框" [error]="hasError ? error : null" class="slds-m-top--small">
    <input nglFormControl type="text" placeholder="请输入信息" [required]="required">
</ngl-form-element>

<ngl-form-element [error]="hasError ? error : null" class="slds-m-top--small">
    <template nglFormLabel><i>文本域</i> <span *ngIf="required">(<b>required</b>!)</span></template>
    <textarea nglFormControl placeholder="请输入信息" [required]="required"></textarea>
</ngl-form-element>

<ngl-form-element label="下拉选项" [error]="hasError ? error : null" class="slds-m-top--small">
    <select nglFormControl class="slds-select" [required]="required">
        <option>周一</option>
        <option>周二</option>
        <option>周三</option>
    </select>
</ngl-form-element>

<ngl-form-checkbox label="复选框" [error]="hasError ? error : null" class="slds-m-top--small">
    <input nglFormControl type="checkbox" [required]="required" />
</ngl-form-checkbox>

<ngl-form-checkbox-toggle label="开关" [error]="hasError ? error : null" class="slds-m-top--small">
    <input nglFormControl type="checkbox" [required]="required" />
</ngl-form-checkbox-toggle>

<fieldset ngl-form-group label="单选组" [required]="required" [error]="hasError ? error : null" class="slds-m-top--small">
    <ngl-form-group-element label="单选一"><input nglFormControl type="radio" /></ngl-form-group-element>
    <ngl-form-group-element label="单选二"><input nglFormControl type="radio" /></ngl-form-group-element>
</fieldset>

<fieldset ngl-form-group-alt [required]="required" [error]="hasError ? error : null" class="slds-m-top--small">
    <template nglFormLabel><i>Alternate Radio Group</i></template>
    <ngl-form-group-element *ngFor="let day of days"><template nglFormLabel>{{day}}</template><input nglFormControl type="radio" /></ngl-form-group-element>
</fieldset>

<fieldset ngl-form-group label="Checkbox Group Label" [required]="required" [error]="hasError ? error : null" class="slds-m-top--small">
    <ngl-form-group-element label="Checkbox Label One"><input nglFormControl type="checkbox" /></ngl-form-group-element>
    <ngl-form-group-element label="Checkbox Label Two"><input nglFormControl type="checkbox" /></ngl-form-group-element>
</fieldset>

<fieldset ngl-form-group-alt label="Alternate Checkbox Group" [required]="required" [error]="hasError ? error : null" class="slds-m-top--small">
    <ngl-form-group-element *ngFor="let day of days" [label]="day"><input nglFormControl type="checkbox" /></ngl-form-group-element>
</fieldset>