<div class="container-fluid">
    <!----侧边栏导航---->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">

            </li>
            <li>
                <a href="#">表单</a>
            </li>
            <li>
                <a href="#">轮播</a>
            </li>
            <li>
                <a href="#">模态</a>
            </li>
            <li>
                <a href="#">按钮</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">事件 <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Dropdown heading</li>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li>
            <li>
                <a href="#">服务</a>
            </li>
            <li>
                <a href="#">组件</a>
            </li>
            <li>
                <a href="https://twitter.com/maridlcrmn">广告</a>
            </li>
        </ul>
    </nav>
    <!--头部导航栏-->
    <nav class="navbar navbar-dark bg-primary navbar-fixed-top" style="border-radius: 0">
        <a class="navbar-brand" href="#"><i class="fa fa-skyatlas"><span>云川科技</span></i></a>
        <ul class="nav navbar-nav pull-right">
            <li class="nav-item active">
                <a href="#" class="nav-link">
                    <ngl-avatar size="small" type="circle"
                                src="http://ng-lightning.github.io/ng-lightning/assets/images/avatar1.jpg"
                                alt="avatar 2"></ngl-avatar>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#"><i class="fa fa-bell"></i></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#"><i class="fa fa-gear"></i></a>
            </li>
        </ul>
    </nav>
    <div class="main">
        <router-outlet></router-outlet>
        <!--&lt;!&ndash;&#45;&#45;提示框&#45;&#45;&ndash;&gt;-->
        <!--<div class="slds-notify_container">-->
            <!--<ngl-notification *ngIf="showAlert" type="alert" severity="error" (nglNotificationClose)="onClose($event)" timeout="5000" class="slds-theme&#45;&#45;alert-texture">-->
                <!--<small>This is an alert! (I will close automatically after 5 seconds if you don't click on the close button)</small>-->
            <!--</ngl-notification>-->
        <!--</div>-->
        <!--<button type="button" [disabled]="showAlert" nglButton="destructive" class="slds-m-top&#45;&#45;large" (click)="show()">Show alert</button>-->
        <!--&lt;!&ndash;table&ndash;&gt;-->
        <!--<table ngl-datatable [data]="data" trackByKey="rank" [loading]="loading" [(sort)]="sort" (sortChange)="onSort($event)"-->
               <!--(onRowClick)="onRowClick($event)" class="slds-max-medium-table&#45;&#45;stacked-horizontal">-->
            <!--<ngl-datatable-column heading="编码" key="rank" sortable></ngl-datatable-column>-->
            <!--<ngl-datatable-column heading="姓名" key="name" *ngIf="!hideName" cellClass="slds-truncate" sortable></ngl-datatable-column>-->
            <!--<ngl-datatable-column heading="别名" key="surname" cellClass="slds-truncate" sortable>-->
            <!--</ngl-datatable-column>-->
            <!--<ngl-datatable-column heading="搜索热度" key="points">-->
                <!--<template nglDatatableCell let-value><ngl-badge>{{value | number}}</ngl-badge></template>-->
            <!--</ngl-datatable-column>-->
            <!--<ngl-datatable-column heading="搜索热度" key="points">-->
                <!--<template nglDatatableCell let-value><ngl-badge>{{value | number}}</ngl-badge></template>-->
            <!--</ngl-datatable-column>-->
            <!--<ngl-datatable-column heading="搜索热度" key="points">-->
                <!--<template nglDatatableCell let-value><ngl-badge>{{value | number}}</ngl-badge></template>-->
            <!--</ngl-datatable-column>-->
            <!--<ngl-datatable-column heading="搜索热度" key="points">-->
                <!--<template nglDatatableCell let-value><ngl-badge>{{value | number}}</ngl-badge></template>-->
            <!--</ngl-datatable-column>-->
            <!--<ngl-datatable-column heading="搜索热度" key="points">-->
                <!--<template nglDatatableCell let-value><ngl-badge>{{value | number}}</ngl-badge></template>-->
            <!--</ngl-datatable-column>-->
            <!--<ngl-datatable-column heading="搜索热度" key="points">-->
                <!--<template nglDatatableCell let-value><ngl-badge>{{value | number}}</ngl-badge></template>-->
            <!--</ngl-datatable-column>-->
            <!--<ngl-datatable-column heading="搜索热度" key="points">-->
                <!--<template nglDatatableCell let-value><ngl-badge>{{value | number}}</ngl-badge></template>-->
            <!--</ngl-datatable-column>-->

            <!--&lt;!&ndash; Loading overlay &ndash;&gt;-->
            <!--<template nglLoadingOverlay>-->
                <!--<div class="slds-box slds-box&#45;&#45;small slds-theme&#45;&#45;shade slds-text-align&#45;&#45;center">Loading...</div>-->
            <!--</template>-->

            <!--&lt;!&ndash; No rows overlay &ndash;&gt;-->
            <!--<template nglNoRowsOverlay>No data available in table!</template>-->
        <!--</table>-->
        <!--<div class="slds-text-title&#45;&#45;caps slds-m-bottom&#45;&#45;small">Inline {{date | date:'longDate'}}</div>-->

        <!--<button type="button" nglButton="neutral" (click)="gotoDate()" class="slds-m-bottom&#45;&#45;large">09 November 2005</button>-->
        <!--<button type="button" nglButton="destructive" (click)="date = null" class="slds-m-bottom&#45;&#45;large">Clear</button>-->

        <!--<ngl-datepicker [(date)]="date" [(monthNames)]="monthNames" [(dayNamesShort)]="dayNamesShort" class="slds-box slds-box&#45;&#45;x-small"></ngl-datepicker>-->
    </div>
</div>

